

.titre1pqiman {
    text-align: center;
    font-size: 35px;
    color: rgb(245, 238, 238);
    font-family: 'Spartan', sans-serif;
    
}
 


.imagepqiman {
    padding: 20px;
    width:260px;
    height:350px;
    opacity: 0.5;
   
    
}

.imagepqiman:hover {
    transform: scale(2);
    cursor:pointer;
    transition: 0.1s ease-in-out;
    opacity:1;
}

.containerpqiman {
    
    background-color:#0B0B0B ;
    height:900px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    
    

}
.imageDivpqiman {
    padding-top:70px;
    display: flex;
    flex-direction: row;
}

.h1Divpqiman {
    padding-top:100px;
    display: flex;
    flex-direction: column;
    /* align-self: flex-end; */
    align-content: flex-end;
    /* padding-bottom: 20px; */
    height:120px;
    
}
.apqiman {
    text-decoration: none;
     font-size:14px;
     color:aliceblue;
     text-align: right;
     justify-content: right;
     padding-top: 0;
     margin-top:0;
 }

