

.titre1pqiman {
    
    /* height:200px; */
    text-align: center;
    font-size: 35px;
    color: rgb(245, 238, 238);
    font-family: 'work';
    /* height:100px; */
    
}
 


.imagepqiman {
    padding: 20px;
    width:180px;
    height:260px;
    opacity: 0.5;
   
    
}

/* .imagepqiman:hover {
    transform: scale(2);
    cursor:pointer;
    transition: 0.1s ease-in-out;
    opacity:1;
}  */
#affiche1, #affiche2,  #affiche3, #affiche4, #affiche5 {
    
    cursor:pointer;
    transition: 0.1s ease-in-out;
    opacity:0.5;
}
#affiche1:hover, #affiche2:hover,  #affiche3:hover, #affiche4:hover, #affiche5:hover {
    transform: scale(1.3);
    cursor:pointer;
    transition: 0.1s ease-in-out;
    opacity:1;
}
.containerpqiman {
    
    background-color:#0B0B0B ;
    height:1000px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'work';

}
.imageDivpqiman {
    padding-top:70px;
    display: flex;
    flex-direction: row;
    height:500px;
}

.h1Divpqiman {
    font-size:30px;
    /* padding-top:200px; */
    display: flex;
    flex-direction: column;
    /* align-self: flex-end; */
    align-content: flex-start;
    /* padding-bottom: 20px; */
    /* height:220px; */
    
}




/*
!                         MEDIA QUERIES
*/
@media screen and (max-width:576px) {
    .titre1pqiman {
    
        /* height:200px; */
        text-align: center;
        font-size: 25px;
        color: rgb(245, 238, 238);
        font-family: 'work';
        /* height:100px; */
        
    }
     
    
    
    .imagepqiman {
        padding: 20px;
        width:250px;
        height:360px;
        opacity: 0.5;
       
        
    }
    
    /* .imagepqiman:hover {
        transform: scale(2);
        cursor:pointer;
        transition: 0.1s ease-in-out;
        opacity:1;
    }  */
    #affiche1, #affiche2,  #affiche3, #affiche4, #affiche5 {
        
        cursor:pointer;
        transition: 0.1s ease-in-out;
        opacity:0.5;
    }
    #affiche1:hover, #affiche2:hover,  #affiche3:hover, #affiche4:hover, #affiche5:hover {
        transform: scale(1.3);
        cursor:pointer;
        transition: 0.1s ease-in-out;
        opacity:1;
    }
    .containerpqiman {
        
        background-color:#0B0B0B ;
        height:1000px;
        display:flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        font-family: 'work';
    
    }
    .imageDivpqiman {
        padding-top:70px;
        display: flex;
        flex-direction: column;
        /* height:500px; */
    }
    
    .h1Divpqiman {
        padding-top:500px;
        font-size:20px;
        /* padding-top:200px; */
        display: flex;
        flex-direction: column;
        /* align-self: flex-end; */
        align-content: flex-start;
        /* padding-bottom: 20px; */
        /* height:220px; */
        
    }

 
    i {
        font-size:15px;
    }

    .apresmenu {
        height:50px;
        background-color:#0B0B0B; 
    }

    .icons {
        font-size:10px;
        text-align: center;
        color:white;
        padding:10px;
        
    }

    .arrow{
        padding-top:20px;
       height:30px;
        position: absolute;
        top: 92%;
        left: 50.9%;
        transform: translate(-50%,-50%);
        /* padding-bottom: 100px; */
    }
  
   
    .arrow span{
        position:absolute;
        display: block;
        width: 15px;
        height: 15px;
        border-bottom: 5px solid #ffffff;
        border-right: 5px solid #ffffff;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
        
    }

    .arrow2{
        padding-top:20px;
       height:30px;
        position: absolute;
        top: 92%;
        left: 50.9%;
        transform: translate(-50%,-50%);
        /* padding-bottom: 100px; */
    }
  
   
    .arrow2 span{
        position:absolute;
        display: block;
        width: 15px;
        height: 15px;
        border-bottom: 5px solid #ffffff;
        border-right: 5px solid #ffffff;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
        
    }


}