

.titre1pqiman {
    
    /* height:200px; */
    text-align: center;
    font-size: 35px;
    color: rgb(245, 238, 238);
    font-family: 'Spartan', sans-serif;
    /* height:100px; */
    
}
 


.imagepqiman {
    padding: 20px;
    width:260px;
    height:350px;
    opacity: 0.5;
   
    
}

.imagepqiman:hover {
    transform: scale(2);
    cursor:pointer;
    transition: 0.1s ease-in-out;
    opacity:1;
}

.containerpqiman {
    
    background-color:#0B0B0B ;
    height:1500px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;

}
.imageDivpqiman {
    padding-top:70px;
    display: flex;
    flex-direction: row;
    height:500px;
}

.h1Divpqiman {
    /* padding-top:200px; */
    display: flex;
    flex-direction: column;
    /* align-self: flex-end; */
    align-content: flex-start;
    /* padding-bottom: 20px; */
    /* height:220px; */
    
}


