
/* /////////////////////accueil de Mimi///////////////////// */
@font-face {
    font-family: 'work';
    src: url(../fonts/WorkSans-Medium.ttf);
}
html{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    /* height:3000px; */
    font-family: 'work';
    

    /* background-color:#0B0B0B; */
    
}

/* 
?                      MENU
*/
.menu{
    background: url(../../public/images/newimagebackground.jpg);
    /* color: #0B0B0B; */
    text-align: right;
    width: 100%;
    background-position-x: center;
    margin-top: -5px;
    height: 660px;
    background-color:#0B0B0B ;
    
  
}
.menu a{
    margin-left: 12px;
    font-size: 17px;
    text-align: justify;
    margin-right: 70px;
    color: rgb(240, 233, 233);
    text-decoration: none;
    margin-top: 148px;

    font-family: 'work';
    line-height: 116px;
   

}


/* 
?             TITRES PAGE D'ACCUEIL
*/
 .h1mimi {
    text-align: center;
    margin-top: 160px;
    margin-left: 100px;
    font-size: 120px;
    color: rgb(240, 233, 233);
    font-family:'moniqablack_condensed_display' ;
    /* background-color: none; */
 }  
 .h2mimi {
    font-size:20px;
    color:rgb(240, 233, 233);
    float:right;
    padding-right:105px;
    padding-top:30px;
    font-family: 'work';
    /* background-color: none; */
    
}

.apresmenu {
    height:150px;
    background-color:#0B0B0B; 
}
/* 
?                   LOGO
*/
.logo{
    display:flex;
    justify-content:flex-start;
     width: 104px;
     padding-top:-25px;
   /* height: 88px; */
    /* left: 14px; */
    position: absolute;
    /* margin-top: 24px;
    margin-left: 11px; */
}

@font-face {
    font-family: 'moniqablack_condensed_display';
    src: url('../../public/fonts/moniqa-blackcondenseddisplay-webfont.woff2') format('woff2'),
         url('../../public/fonts/moniqa-blackcondenseddisplay-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*
@font-face {
    font-family: 'neutral_faceregular';
    src: url('../../public/fonts/neutralface-webfont.woff2') format('woff2'),
         url('../../public/fonts/moniqa-display-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*/
/* 
?                           FOOTER
*/



.copy{
    height:50px;
    padding-right:60px;
    margin:0;
    font-size: 15px;
    color: rgb(240, 233, 233);
    text-align: center;
    margin-bottom: 7px;
    margin-top: 18px;
}

.footer {
    padding:0;
    margin:0;
    clear:both;
    position:relative;
    height:120px;
    background-color: black;
    width: 100%;
    
}

/* 
?                              ICONES FOOTER
*/
.icons {
    font-size:25px;
    text-align: center;
    color:white;
    padding:10px;
    
}
.bi-chevron-bar-up {
    margin-top:-22px;
    /* padding-top:25px; */
    font-size:40px;
    float:right;
    /* padding:10px; */
}
/* 
?                            1ere    FLECHE ANIMEE
*/



  .arrow{
      padding-top:20px;
     height:50px;
      position: absolute;
      top: 92%;
      left: 50.2%;
      transform: translate(-50%,-50%);
      /* padding-bottom: 100px; */
  }

 
  .arrow span{
      position:absolute;
      display: block;
      width: 30px;
      height: 30px;
      border-bottom: 5px solid #ffffff;
      border-right: 5px solid #ffffff;
      transform: rotate(45deg);
      margin: -10px;
      animation: animate 2s infinite;
      
  }
  .arrow span:nth-child(2){
      animation-delay: -0.2s;
  }
  .arrow span:nth-child(3){
      animation-delay: -0.4s;
  }
  @keyframes animate {
      0%{
          opacity: 0;
          transform: rotate(45deg) translate(-20px,-20px);
      }
      50%{
          opacity: 1;
      }
      100%{
          opacity: 0;
          transform: rotate(45deg) translate(20px,20px);
      }
  }



  /* 
?                            2eme    FLECHE ANIMEE
*/


.arrow2{
    text-align: center;
    /* padding-top:20px; */
   height:50px;
    /* position: absolute; */
    /* top: 92%;
    left: 50.2%; */
    transform: translate(-50%,-50%);
    /* padding-bottom: 100px; */
    /* display:flex; */
    /* align-items: center; */
}


.arrow2 span{
    position:absolute;
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
    
}
.arrow2 span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow2 span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

.divArrow {
display:flex;
background-color:#0B0B0B ;
justify-content: center;
}

 /* 
?                               SOURIS LUMIERE
*/

 

.light {
    position: fixed;
    top : 0;
    left:0;
    width:100%;
    height:100%;
    pointer-events: none;
    background: radial-gradient(circle at var(--x) var(--y),transparent 70%, rgba(0, 0, 0, 0.95) 70%);
}
 /*
 ?                             SECTION A PROPOS
 */
.apropos {
    
    background-color:#0B0B0B;
    display:flex;
    /* align-items:center; */
    /* justify-content:space-between; */
    height:750px;
    padding-right: -20px;
    flex-direction: row;
    padding-left:100px;
   

}

.titreImageTexte {
    display:flex;
    flex-direction: column;
    align-content:center;
}
.aproposTitre {
    
    display:flex;
    justify-content:center;
    padding-top:90px;
    padding-bottom:90px;
     /* padding-left:100px; */
    color:white;
    font-size:35px;
    
}

.divApropos {
display:flex;
justify-content:space-evenly;
}
.aproposImg {
    width:35%;
}
.aproposTexte {
  
  padding-top:50px;
  /* padding-left:100px; */
  color:white;
  /* width:60%; */
 letter-spacing: 1px;
 width:35%;
 font-size:20px;
 text-align:justify;
 text-justify: inter-word;
 
    
}
/* 
?                                ICONES DE COTE
*/

/* jfdlkfdjgl */

.sidebaricons {
  font-size:25px;
  height:100%;
  color:rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position:fixed;
  /* padding-left:15px; */
  left:0;
  padding:20px;
  padding-bottom:5px;
  top:0;
  z-index: 1;
  padding-top:300px;
  
}


/*
                                   ? MEDIA QUERIES
*/

@media (max-width:576px){
    .menu {
        width:100%;
}
    
    .h1mimi {
    font-size: 52px;
} 
    
    .h2mimi {
    font-size:7px;
                   
                    
 }
    
}

 i {
    /* background-color:white; */
    color:white;
}